// Base
@import './base/variables';
@import './base/operations';
@import './base/lists';
@import './base/maps';
@import './base/extend';
@import './base/mixin';

// Componentes
@import './components/navbar';
@import './components/footer';
@import './components/contenido-principal';
@import './components/populares';
@import './components/pastelerias';
@import './components/recetas';
@import './components/contacto';

// Sobreescribir color botón bootstrap primary
.btn-primary{ 
    background-color: darkcyan;
    border: darkcyan;
    &:hover{
        background-color: rgba(0, 139, 139, 0.8);
    }
}



@media screen and (max-width: 576px){
    .contenedor-prinicpal {
        margin-top: 0;
    } 

    .banner-principal{
        h1{
            font-size: 2rem;
            
        }
    } 
    
    
    
}

@media screen and (max-width: 356px){
    .banner-principal {
        h1{
            font-size: 1.5rem;
            
        }
    }
 
    .tabla-contenidos{
        overflow: hidden;
    }
    
}