$redes-colors:(
    twitter: rgba(29, 161, 242, 1),
    facebook: rgba(34, 88, 223, 1),
    youtube: rgba(255, 0, 0, 1),
    instagram: rgba(0,0,0,1),
);
$redes-colors-hover:(
    twitter: rgba(29, 161, 242, 0.6),
    facebook: rgba(34, 88, 223, 0.6),
    youtube: rgba(255, 0, 0, 0.6),
    instagram: rgba(0, 0, 0, 0.6),
);